__pycache__/
*.pyc
*.h5ad
*.h5ad.gz

# Predictor ablation scratch vectors
studies/predictor-ablation-2026-10-01/*-predictions.json

# Robust blend scratch vectors
studies/robust-blend-2026-10-01/*-predictions.json
